<div id="main" class="w-full">
	<div class="banner-background absolute -z-10 w-full max-h-[100vh] h-full">
		<div class="h-3/4"></div>
		<div class="polygon-triangle-down-contract w-full h-1/4 bg-white"></div>
	</div>
	<div class="">
		<main-header></main-header>
		<div class="content-wrapper grid grid-cols-2 min-h-[80vh]">
			<div class="grid">
				<div class="my-auto">
					<h1 class="text-6xl text-white font-semibold tracking-wide">FIVEM SERVER HOSTING</h1>
					<div class="py-4">
						<h1 class="text-2xl text-white font-semibold">SERVERS STARTING FROM</h1>
						<h1 class="text-2xl text-white font-semibold">€ 15,- /MONTH</h1>
					</div>
					<div class="flex h-7">
						<div class="">
							<img src="/assets/icons/icons8-protect-48.png" alt="" class="h-full" />
						</div>
						<div class="grid">
							<div class="my-auto">
								<p class="text-green-500 font-semibold">DDOS protection included</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=""></div>
		</div>
	</div>
	<div class="">
		<div class="content-wrapper p-10">
			<!--<div class="">
				<div class="sm:container mx-auto">
					<h1 class="text-4xl text-center font-semibold">Flexible compute, elastic capacity</h1>
					<div class="py-6">
						<p class="text-lg text-center text-gray-600">Vultr provides a variety of machine types so that you can tune your infrastructure to meet your game’s demands. Scale your infrastructure elastically, spinning up and down, as your game’s usage rises and falls with the time of day.</p>
					</div>
				</div>
			</div>!-->
			<div class="grid grid-cols-3 gap-10">
				<div class="p-10 shadow-2xl bg-white" *ngFor="let product of [0, 1, 2]">
					<div class="h-64">
						<img src="/assets/icons/iconfinder-server.png" alt="" class="h-full object-cover mx-auto" />
					</div>
					<h1 class="text-xl text-center font-semibold">Cloud Compute</h1>
					<div class="py-2">
						<p class="text-gray-600 text-center">Powerful compute instances with Intel CPUs and 100% SSD storage.</p>
					</div>
					<div class="">
						<p class="text-center text-blue-600 font-semibold">Starting at $2.50/month</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="content-wrapper p-10">
			<div>
				<div class="sm:container mx-auto">
					<h1 class="text-4xl text-center font-semibold">Powerful Control Panel & APIs</h1>
					<div class="mt-6">
						<p class="text-2xl text-center text-gray-500">Spend more time coding and less time managing your infrastructure.</p>
					</div>
				</div>
			</div>
			<div class="flex mt-12">
				<div class="grid gap-4 max-w-[400px]">
					<div class="flex gap-4 p-8 shadow-2xl bg-white" *ngFor="let feature of [0, 1, 2]">
						<div class="w-64">
							<div class="">
								<img src="/assets/icons/icons8-bursts-48.png" alt="" class="h-full" />
							</div>
						</div>
						<div class="">
							<h1 class="text-xl font-semibold">One-click Deploy</h1>
							<div class="mt-3">
								<p class="text-lg text-gray-500">As soon as you click deploy, the Vultr cloud orchestration takes over and spins up your instance in your desired datacenters - typically within 60 seconds.</p>
							</div>
						</div>
					</div>
				</div>
				<div class=""></div>
			</div>
		</div>
	</div>
	<div>
		<div class="content-wrapper p-10">
			<div class="grid grid-cols-2 gap-8">
				<div class="grid">
					<div class="my-auto">
						<h1 style="font-family: Overpass-Bold" class="text-3xl font-semibold">CPU Bursting</h1>
						<div class="mt-8">
							<p class="text-lg text-gray-500">Server applications demand low latency memory with blazing fast read/write performance. We've built our cloud to tackle even the most intensive workloads and our Skylake refresh further improves performance.</p>
						</div>
						<div class="flex gap-8 mt-6">
							<div class="">
								<!--TODO: Implement to javascript animation percentage-->
								<div class="speedometer speedometer--xl relative">
									<div class="speedometer__arrow" data-animation-arrow="" style="transform: rotate(66.64deg)">
										<svg xmlns="http://www.w3.org/2000/svg" width="48.987" height="35.999" viewBox="0 0 48.987 35.999">
											<g transform="translate(-442.005 -274.997)">
												<path class="speedometer__arrow" d="M464,298l.154.232A2,2,0,1,1,466,301h0l-9,3Z" fill="#007bfc" stroke="#007bfc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
											</g>
										</svg>
									</div>
									<div class="speedometer__dial">
										<svg xmlns="http://www.w3.org/2000/svg" width="48.987" height="35.999" viewBox="0 0 48.987 35.999">
											<g transform="translate(-442.005 -274.997)">
												<path class="speedometer__max-speed" d="M445.9,308a21.993,21.993,0,1,1,40.193,0" fill="none" stroke="#e6e9eb" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path>
												<path data-speedometer-speed="" class="speedometer__speed" style="stroke-dashoffset: 62.999px; stroke-dasharray: 87.4986px" d="M445.9,308a21.993,21.993,0,1,1,40.193,0" fill="none" stroke="#007bfc" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" stroke-dasharray="87.49861145019531"></path>
											</g>
										</svg>
									</div>
								</div>
							</div>
							<div class="">
								<div class="">
									<span class="text-sm text-gray-500">Up to</span>
								</div>
								<div class="">
									<span class="font-bold text-4xl text-blue-500 font-semibold">28%</span>
									<span class="ml-2 text-4xl text-blue-500">faster</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-2 h-96 shadow-2xl bg-white">
					<div class="p-10 border-r-2 border-r-gray-200">
						<!--<div class="">
							<div class="w-fit mx-auto">
								<span class="text-sm font-semibold">Multi-Core</span>
								<span class="text-sm text-gray-500"> with 4GB RAM</span>
							</div>
						</div>!-->
						<div class="relative h-full">
							<div class="absolute grid w-full h-full">
								<div class="border-dotted border-b-2 border-b-gray-200" *ngFor="let line of [0, 1, 2, 3, 4, 5, 6, 7, 8]"></div>
							</div>
							<div class="grid grid-cols-3 h-full">
								<div class="h-full" *ngFor="let bar of [0, 1, 2]">
									<div class="relative flex max-w-[40px] w-full h-full mx-auto">
										<div class="benchmark__bar absolute w-full h-1/2 bottom-0 z-50">
											<div class="relative w-full h-full">
												<div class="benchmark__bar--value absolute flex w-full bottom-full justify-center pb-1">
													<span class="text-lg text-center font-semibold whitespace-nowrap">8351</span>
												</div>
												<div class="absolute flex w-full top-full justify-center pt-1">
													<span class="text-xs text-center text-gray-500 whitespace-nowrap">3+ Ghz</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=""></div>
				</div>
			</div>
		</div>
	</div>
</div>
