<div class="wrapper">
	<div class="">
		<h1 class="text-2xl">Dashboard</h1>
		<p class="mt-1 text-xs text-gray-400">Easy Way to Manage Your Expenses</p>
	</div>
	<div class="flex gap-10 mt-10">
		<div class="max-w-[330px] w-full">
			<div class="rounded-lg bg-white">
				<div class="bank-card">
					<div class="grid h-full p-6">
						<div class="h-10">
							<img src="/assets/images/mastercard_logo.png" alt="" class="h-full" />
						</div>
						<div class="grid gap-4 mt-auto">
							<div class="">
								<p class="text-2xl text-white font-semibold tracking-wide">**** **** **** 4637</p>
							</div>
							<div class="grid grid-cols-2">
								<div class="">
									<p class="text-sm text-gray-300">Card Holder</p>
									<p class="text-white font-semibold">Ladislav Chudý</p>
								</div>
								<div class="">
									<p class="text-sm text-gray-300">Exp. Date</p>
									<p class="text-white font-semibold">06/24</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-6 p-6">
					<div class="">
						<h1 class="text-lg font-semibold">Card Information</h1>
					</div>
					<div class="grid gap-4 mt-8">
						<div class="grid grid-cols-2" *ngFor="let card of cardInfo">
							<div class="">
								<p class="text-gray-700">{{ card.col1 }}</p>
							</div>
							<div class="">
								<p class="text-gray-400">{{ card.col2 }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-6 p-6 border-t-2 border-t-gray-200">
					<div class="w-full py-3 rounded-lg shadow-lg text-center text-white bg-red-600">Remove the Card</div>
				</div>
			</div>
		</div>
		<div class="grid gap-4 w-full">
			<div class="h-fit p-6 rounded-lg bg-white">
				<h1 class="text-lg font-semibold">Transactions</h1>
				<div class="grid gap-2 mt-4">
					<div class="flex h-16" *ngFor="let user of [0, 1, 2]">
						<div class="w-1 h-full mr-4 rounded-lg bg-blue-500"></div>
						<div class="grid w-2/4">
							<div class="my-auto">
								<p class="">Server Deluxe</p>
								<p class="text-gray-500">Regular monthly billing</p>
							</div>
						</div>
						<div class="flex w-2/4">
							<div class="grid w-1/2">
								<div class="my-auto ml-auto">
									<p class="text-red-500 font-semibold">- 452.24 $</p>
								</div>
							</div>
							<div class="grid w-1/2">
								<div class="my-auto ml-auto">
									<p class="text-gray-500">14.03.2022</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid gap-4 max-w-[330px] w-full">
			<div class="h-fit rounded-lg bg-gradient-to-br from-blue-900 to-blue-500">
				<div class="p-8">
					<div class="">
						<h1 class="text-base text-gray-200">Announcement</h1>
					</div>
					<div class="mt-8">
						<h1 class="text-2xl text-white font-light">Naplánována odstávka provozu</h1>
					</div>
					<div class="mt-8">
						<p class="text-gray-100 font-light">Plánována odstávka provozu 08.02.22 od 13:00 na 15 minut z technických důvodů. Omlouváme se za komplikace.</p>
					</div>
				</div>
			</div>
			<!--<div class="h-fit p-6 rounded-lg bg-white">
					<h1 class="text-lg font-semibold">Usage statistics of Node-1</h1>
					<div class="relative w-full h-48">
						<canvas id="myChart" class="absolute"></canvas>
					</div>
				</div>!-->
		</div>
	</div>
</div>
